*{
    box-sizing: border-box;
}

body{
    background-color: brown;
    max-width: 600px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

.container{
    width: 100%;
    background-color: purple;
    text-align: center;
    color: white;
    padding: 12px;
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.overall{
    width: 100%;
    background-color: beige;
    border: none;
    border-radius: 6px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

button{
    background-color: rgb(9, 207, 9);
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 14px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.container strong{
    font-size: 14px;
}

p strong{
    color: rgb(214, 0, 0);
}

input{
    width: 100%;
    border: 1px solid  rgb(94, 57, 57);
    padding: 14px;
    border-radius: 3px;
    margin-bottom: 15px;
    text-align: center;
}

p{
    /* margin-left: 100px; */
    opacity: 0.6;
    text-align: center;
}