.rank-table {
    border: 1px solid grey;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    font-family: arial;
    font-size: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }
  .head-a {
    background-color: purple;
    color: white;
    font-family: sans-serif arial;
    font-weight: bold;
    text-align: left;
  }
  .head-a th,
  td {
    padding: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 0.1;
  }

  .headbo {
    font-weight: bolder;
    font-size: large;
    color: black;
    background-color: white;
    font-family: arial;
  }

  tbody tr:nth-child(even) {
    background-color: #f8f8f8;
    color: #068a5c;
    font-weight: bold;
  }